main{
  min-height: 35rem;
}

.rating span{
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1 rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0; 
}

.carousel-item-next,
.carousel-item-next,
.carousel-item.active {
  display: flex;
}

.carousel-caption{
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #ffff;
}

.carousel img {
  height: 400px;
  padding: 35px;
  margin: 25px;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
}

.carousel {
  background-color: rgb(6, 17, 115) !important;
}

.carousel a {
  margin: 0 auto;
}

.card img {
  padding: 4%;
}

